* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.hangman {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.word {
  margin: 25px 0px;
}

.letter {
  font-size: 50px;
  margin: 0 5px;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0px;
}

.keyboard > .line {
  width: 100%;
  padding: 15px;
}

.key {
  font-size: 30px;
  margin: 2px 2px;
  padding: 10px;
  border: 2px solid rgb(230, 27, 27);
  width: 4%;
  cursor: pointer;
}

.key.selected {
  background-color: rgb(230, 27, 27);
  color: #fff;
  pointer-events: none;
}

.new-game {
  cursor: pointer;
  font-size: 70px;
  margin-top: 15px;
  color: #b3070f;
}